.category-left{
  width: 90px;
  float: left;
  /* background-color: pink; */
  height: 100%;
  position: relative;
}
.category-left li a{
  width: 90px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #E3E4E5;
  display: block;
  text-align: center;
  line-height: 50px;
  color: #666;
}
.category-left li a.active{
  border-right: 1px solid transparent;
  background-color: #fff;
}
.category-right{
  height: 100%;
  overflow: hidden;
  /* background-color: red; */
  position: relative;
  padding: 10px;
}
.category-right li a{
  float: left;
  width: 33.33%;
  text-align: center;
}
.category-right li a img{
  width: 70px;
  height: 50px;
  margin: 0 auto;  
}