/* 乐淘导航区域 */
.lt_nav{
  padding:10px;
}
.lt_nav ul li{
  float: left;
  width: 33.33%;
}
.lt_nav ul li a img{
  width: 100%;
  display: block;
}

/* 乐淘产品区域 */
.lt_product{
  padding: 10px;
  text-align: center;
}
.lt_product li{
  border: 1px solid #ccc;
  float: left;
  padding: 10px;
  width: 48%;
  margin-bottom: 10px;
}
.lt_product li:nth-child(odd){
  margin-right: 4%;
}
.lt_product li img{
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.lt_product li a span{
  font-size: 14px;
}
.price{
  color: red;
}
.oldPrice{
  color: #8f8f94;
  text-decoration: line-through;
}

