.lt_container{
  background-color: #fff;
}
.lt_search .search_input{
  margin: 0;
}
.lt_sort{
  width: 100%;
  height: 30px;
  background-color: #EEEEEE;
}
.lt_sort ul li{
  float: left;
  font-size: 14px;
  width: 25%;
  text-align: center;
}
.lt_sort ul li a{
  color: #9C9C9C;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 30px;
  color: #666;
}
.lt_sort ul li.active a{
  color: #FF8C00;
}
.lt_product .loading{
  width: 50px;
  height: 50px;
  border: 3px solid #006699;
  margin: 60px auto;
  animation: loading 1.5s infinite;
}

@keyframes loading{
  from{
    transform: rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
